#top {
  position: relative;
  background-color: white;
  color: white;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3f904a;
  padding: 5px;
  margin-top: 10px;
}

.footer_content {
  text-align: center;
  color: #fff;
}

.footer_text {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#left {
  float: left;
  background-color: #ece3a5;
  padding: 5px;
  width: 150px;
}

#right {
  float: right;
  background-color: #ece3a5;
  padding: 5px;
  width: 150px;
}

.center_content {
  position: relative;
  background-color: white;
  padding: 5px;
}

.left_content {
  background-color: white;
  padding: 5px;
  margin-left: 170px;
}

.right_content {
  background-color: white;
  padding: 5px;
  margin: 0px 170px 0px 170px;
}

#top a:link,
#top a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#top a:link:hover,
#top a:visited:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.button-wrapper {
  margin-top: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: auto; /* Para mantener la proporción original */

  margin-left: 20px; /* Margen izquierdo */
}

.logo-left {
  width: 100px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.logo-center {
  margin-left: auto;
  margin-right: 20px;
  width: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
}

menubar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(251, 255, 196);
  overflow: auto;
  height: auto;
}
.left-links {
  flex: 1 1 200px;
}

.centrado {
  width: fit-content;
  height: fit-content;
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
